.productContainer {
  display: flex;
  border: 1px solid brow;
  width: 100%;
}
.images {
  border: 1px solid pink;
  width: 30%;
  min-width: 300px;
}
.inputFields {
  border: 1px solid red;
  width: 70%;
  margin: 3vh;
}
.fields {
  margin: 2vh 0vh 2vh 2vh;
}
