.cartContainer {
  background-color: #ecf0f1;
  display: flex;
  width: 100%;
  justify-content: center;
}
.itemsContainer {
  display: flex;
  flex-direction: column;
  // width: 50%;
  min-width: 60%;
  width: 1000px;
  justify-content: space-around;
  border: 1px solid red;
}

.itemCardWrapper {
  display: flex;
  margin: 2vh 0vh 2vh 0vh;
  justify-content: space-between;
  width: 100%;
}
.cardContainer {
  background-color: #e5e9ea;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.deleteButton {
  border: none;
  // background-color: #e5e9ea;
  cursor: pointer;
}
