.container {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.cardsWrapper {
  border: 1px solid black;
  width: 90%;
  display: flex;
  margin: 10vh 0vh 10vh 0vh;
}

.settingsCard {
  border: 1px solid green;
}
