.categoryCard {
  border: 1px solid transparent;
  background-color: #f6f5fd;
  height: 200px;
  border-radius: 10px;
  // background-image: url("../assets/icons/shoe.png");
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  margin: 2vh 0vh 2vh 2vh;
}

.title {
  color: #3a2c6c;
}
