.categoryCard {
  border: 1px solid greenyellow;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  border-radius: 2px;
  margin: 2vh;
  padding-bottom: 2vh;
}
