.wrapper {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  // padding: 2vh;
}
.btnCategory {
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  text-align: start;
  // margin: 1vh;
  padding: 1vh;
  font-size: 19px;
}

// .btnContainer {
//   background-color: transparent;
// }
// .btnIsNotActive {
//   background-color: #f3f3f3;
//   // border: 3px solid transparent;
//   border-left-color: white;
//   border: 3px;
// }
// .btnContainerIsActive {
//   border-left-color: peru;
//   color: peru;
//   border: 3px solid;

//   // background-color: white;
//   background-color: red;
// }
// // .btnContainerIsActive:hover {

// // }

.btnIsNotActive {
  background-color: rgb(206, 200, 200);
  border-left-color: white;
  border: 5px solid transparent;
  color: black;
}
.btnIsNotActive:hover {
  border-left-color: peru;
  color: peru;
  background-color: white;
}
