.cardWrapper {
  // border: 1px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.discountWrapper {
  display: flex;
  max-width: 150px;
  place-items: center;
  justify-content: space-around;
  border-radius: 12px;
  margin: 1vh;
  padding-right: 1vh;
  padding-left: 1vh;
  background-color: rgba(68, 215, 124, 1);
  color: white;
  font-weight: 600;
}
.cardContent {
  display: flex;
  flex-direction: column;
  margin: 0vh 2vh 2vh 2vh;
}
.brand {
  font-size: 17px;
  color: gray;
  margin-bottom: -5px;
}
.model {
  font-size: 20px;
  color: #2f2947;
  margin-top: 5px;
  font-weight: 500;
}

.rate {
  color: #2f2947;
  margin-top: -4vh;
  margin-bottom: -2vh;
  display: flex;
  align-items: center;
}
.rateNumber {
  align-self: center;
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
.discount {
  color: #2f2947;
  font-size: 22px;
  font-weight: bold;
  padding-right: 25px;
}
.price {
  align-self: center;
  color: gray;
  text-decoration: line-through;
}
