.container {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  // cursor: pointer;
  width: 18%;
  min-width: 310px;
  color: white;
  box-shadow: 0px 1px 2px 0px rgb(8 8 8 / 70%), 1px 2px 4px 0px rgb(77 82 82 / 70%), 2px 4px 8px 0px rgb(42 46 46 / 70%),
    2px 4px 16px 0px rgb(89 92 92 / 70%);
  border-radius: 10px;
  margin: 3vh 1vh;
  position: relative;
  align-items: center;
}

.isNewContainer {
  border: 2px solid brown;
  border-radius: 100%;
  color: brown;
  // background-color: black;
  width: 75px;
  padding: 2vh;
  position: absolute;
  top: -38px;
  left: 100px;
  font-family: cursive, sans-serif;
}
.container:hover {
  background-color: #a36337;
  .isNewContainer {
    background-color: black;
  }
}

.informationBtn {
  font-family: cursive, sans-serif;
  margin: 0vh 7vh;
  cursor: pointer;
  border: 2px solid gray;
  background-color: transparent;
  color: white;
  border-radius: 100%;
  padding: 0px 11px;
}

.information {
  position: absolute;
  top: -120px;
  left: 34px;
  border: 1px solid red;
  width: 80%;
  min-height: 90px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.34);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgb(255, 255, 255);
  z-index: 4;
  display: none;
  opacity: 0;
}
.bubble {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.34);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  top: -21px;
  left: 257px;
  rotate: 50deg;
  z-index: 2;
  display: none;
  opacity: 0;
}
.informationBtn:hover {
  .information {
    display: block;
    opacity: 1;
  }
  .bubble {
    display: block;
    opacity: 1;
  }
}
// .informationBtn::hover {
//   // .information {
//   //   // opacity: 1;
//   //   display: block;
//   // }
//   // .bubble {
//   //   opacity: 1;
//   //   display: block;
//   // }
//   .information {
//     border: 1px red;
//   }
// }
