.footerContainer {
  // background-color: rgb(61, 42, 170);
  background-color: white;
  // margin-top: 10vh;
  margin: 0.5vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.outerWrapper {
  border: 1px solid pink;
  margin: 5vh 10vh 5vh 10vh;
  display: flex;
  justify-content: space-between;
}
.leftSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  color: goldenrod;
  font-family: "Montserrat", sans-serif;
}
.rightSide {
  width: 50%;
  background-color: brown;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.socialContainer {
  display: flex;
  justify-content: space-between;
}

.topWrapper {
  display: flex;
  color: black;
  justify-content: space-evenly;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 15px;
}

.bottomWrapper {
  display: flex;
  border-top: 1px solid gray;
  margin-left: 15vh;
  margin-right: 15vh;
  justify-content: center;
  padding-top: 7vh;
  padding-bottom: 3vh;
}

.iconWrapper {
  padding: 1vh;
}
