.footerContainer {
  background-color: rgb(77, 36, 226);
  padding-bottom: 8px;
}
.outerWrapper {
  border: 1px solid pink;
  margin: 5vh 10vh 5vh 10vh;
  display: flex;
  justify-content: space-between;
}
.leftSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  color: goldenrod;
  font-family: "Montserrat", sans-serif;
}
.rightSide {
  width: 50%;
  background-color: brown;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.socialContainer {
  display: flex;
  justify-content: space-between;
}

.topWrapper {
  display: flex;
  color: white;
  justify-content: space-evenly;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 15px;
}

.bottomWrapper {
  display: flex;
  border-top: 1px solid gray;
  margin-left: 15vh;
  margin-right: 15vh;
  justify-content: center;
  padding-top: 7vh;
  padding-bottom: 3vh;
}

.iconWrapper {
  padding: 1vh;
}
