.headerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(../assets/pictures/mainBanner.png);
  height: auto;
  min-height: 650px;
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
}
.announcementBar {
  background-color: black;
  color: white;
  display: flex;
  min-width: 900px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
  justify-content: space-evenly;
}
.announceLinks {
  cursor: pointer;
}
.announceLinks:hover {
  color: #ff6128;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.searchSection {
  display: flex;
  color: white;
  width: 90%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.infoSection {
  display: flex;
  color: black;
  background-color: white;
  width: 90%;
  justify-content: space-around;
  // border: 1px solid purple;
}
.signBtn {
  background-color: transparent;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid skyblue;
  border-radius: 10px;
  padding: 1vh;
}
.signBtn:hover {
  border: 1px solid black;
  color: skyblue;
}
.loginBtn {
  background-color: transparent;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1vh;
}
.loginBtn:hover {
  box-shadow: rgba(300, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid gray;
  margin-left: -1px;
}
// .headerWrapper {
//   display: flex;
//   width: 95%;
//   // border: 1px solid red;
//   justify-content: space-between;
// }

// .leftSide {
//   // border: 1px solid skyblue;
//   display: flex;
//   justify-content: space-between;
//   width: 50%;
// }

// .rightSide {
//   // border: 1px solid pink;
//   display: flex;
//   justify-content: space-around;
//   width: 50%;
// }

// .storeTitle {
//   color: white;
//   font-size: 30px;
//   text-transform: uppercase;
//   font-family: "Montserrat", sans-serif;
//   font-weight: 700;
//   cursor: pointer;
// }
// .storePhone {
//   color: white;
//   font-size: 30px;
//   text-transform: uppercase;
//   font-family: "Montserrat", sans-serif;
//   font-weight: 700;
// }
// .titles {
//   color: white;
//   font-size: 18px;
//   font-family: "Montserrat", sans-serif;
//   align-self: center;
//   cursor: pointer;
// }
