.productContainer {
  // border: 1px solid red;
  display: flex;
  // width: 95%;
  justify-content: space-around;
}
.productWrapper {
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.carouselContainer {
  display: flex;
  width: 49%;
  flex-direction: column;
  text-align: center;
}
.productInfoContainer {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 49%;
  justify-content: space-between;
}
.productTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: gray;
}

.addButton {
  border: 0px solid gray;
  border-radius: 5px;
  background-color: rgb(56, 187, 56);
  color: white;
  font-size: 20px;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.socialContainer {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-self: center;
}
.socialLinks {
  cursor: pointer;
}
.additionalInfo {
  // border: 1px solid pink;
  display: flex;
  flex-direction: column;
}
.reviewStyle {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  color: gray;
}
.priceTagStyle {
  color: green;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin-top: -3px;
  font-weight: bold;
}
.secureShipping {
  align-self: center;
  font-size: 20px;
  color: gray;
  font-family: monospace;
}
.productManagementContainer {
  // border: 1px solid goldenrod;
  display: flex;
  // border-right: 1px solid gray;
}
.addToWishlist {
}
.comparePoduct {
}
.addToWishBtn {
  display: flex;
  border: 2px solid transparent;
  border-right: 2px solid gray;
  cursor: pointer;
}
.addToWishBtn:hover {
  color: green;
  border-top-color: green;
  border-bottom-color: green;
  border-left-color: green;
}
.compareBtn {
  display: flex;
  border: 2px solid transparent;
  cursor: pointer;
}
.compareBtn:hover {
  color: skyblue;
  border-top-color: skyblue;
  border-bottom-color: skyblue;
  border-right-color: skyblue;
}
.relatedCardsContainer {
  border: 1px solid blueviolet;
  display: flex;
  justify-content: space-around;
  // width: 95%;
}
.cardsWrapper {
  display: flex;
  width: 95%;
  justify-content: space-between;
  flex-wrap: wrap;
  // padding: 5px;
}
