.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 0px solid transparent;
}
.cardWrapper {
  padding: 3vh;
  margin-bottom: 7vh;
  flex-basis: 25%;
  min-width: 400px;
  max-height: 550px;
}
.title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.brand {
  font-size: 17px;
  font-weight: 400;
  margin-top: -1vh;
}
.description {
  font-size: 16px;
  font-weight: 400;
  width: 90%;
  margin-top: 3px;
}
.price {
  font-size: 25px;
  font-weight: 400;
  color: green;
  margin-top: 3px;
}
.addButton {
  width: 100%;
  padding: 2vh 0vh 2vh 0vh;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #27c8a5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}
.viewMore {
  display: block;
  border: none;
  width: 50%;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: -24px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: 50px;
  background-color: #27c8a5;
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.5s all;
}
.viewMore:hover {
  color: black;
}
.cardWrapper:hover {
  .viewMore {
    top: 0;
  }
}
