.productContainer {
  border: 1px solid red;
  display: flex;
  // width: 95%;
  justify-content: space-around;
}
.productWrapper {
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.carouselContainer {
  display: flex;
  width: 49%;
  flex-direction: column;
}
.productInfoContainer {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 49%;
  justify-content: space-between;
}
.productTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: gray;
}

.addButton {
  border: 0px solid gray;
  border-radius: 5px;
  background-color: rgb(56, 187, 56);
  color: white;
  font-size: 20px;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.socialContainer {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-self: center;
}
.socialLinks {
  cursor: pointer;
}
.additionalInfo {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
}
