.cardContainer {
  display: flex;
  flex-direction: column;
  max-width: 22.5%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.imgContainer {
  text-align: center;
}

.viewMore {
  position: relative;
  top: -178px;
  display: none;
  border: 1px solid red;
  // margin-bottom: -4.4vh;
  background-color: aqua;
}

.imgContainer:hover {
  .viewMore {
    display: block;
    margin-bottom: -4vh;
  }
}

.cardInfoStyle {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 24px;
  color: gray;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}
.info {
  font-size: 12px;
  color: gray;
  font-family: monospace;
  font-weight: 500;
  margin-top: -1vh;
}

@media only screen and (max-width: 1200px) {
  .cardContainer {
    max-width: 50%;
  }
}

@media only screen and (max-width: 950px) {
  .cardContainer {
    max-width: 40%;
  }
}

@media only screen and (max-width: 950px) {
  .cardContainer {
    max-width: 100%;
    justify-content: space-around;
  }
}
