.accountContainer {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.btnWrapper {
  align-self: center;
  margin-top: 4.5vh;
  margin-bottom: 2vh;
}
.accountButton {
  border: none;
  cursor: pointer;
  height: 40px;
}
.accountButton:hover {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18,
    0 0 55px #49ff18, 0 0 75px #49ff18;
}
.accountContent {
  // border: 1px solid red;
  position: relative;
  width: 200px;
  z-index: 999;
  // background-color: transparent;
  border-radius: 5px;
  // height: 500px;
}
