.container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 50%;
  background-color: black;
  // height: 300px;
}
.image {
  // position: relative;
  z-index: 1;
  text-align: center;
  // filter: blur(0.5px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.textContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  // position: inherit;
  text-align: center;
  // margin-top: -150px;
  color: red;
}
