.registerContainer {
  border: 1px solid yellow;
  display: flex;
  width: 30%;
  min-width: 500px;
  justify-content: center;
  background-color: white;
  flex-direction: column;
}
.title {
  font-family: monospace;
  color: black;
  font-size: 25px;
  align-self: center;
}
.registerWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}
.inputFields {
  margin: 2vh;
}
.buttonContainer {
  align-self: center;
  margin: 2vh;
}
.registerButton {
  cursor: pointer;
  min-width: 200px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
}
.registerButton:hover {
  background-color: greenyellow;
}
